/* Section Title */
.section-title {
  font-size: 2.2rem;
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin: 4rem 0 2rem;
  margin-bottom: 1rem;
  margin-top: -1rem;
  color: #574937;
}

.section-description {
  font-size: 1rem;
  font-family: 'Lora', serif;
  color: #574937;
  text-align: center;
  max-width: 800px;
  margin: 0 auto 2rem;
  margin-bottom: -1rem;
  line-height: 1.6;
}

.section-header {
  background-color: #f0eae7; /* soft neutral or use #dbb5b1 for rose accent */
  padding: 3rem 2rem;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

/* Grid Layout */
.flyer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 per row */
  gap: 3rem;
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* Flyer Title */
.flyer-title {
  font-size: 1.3rem;
  font-weight: 700;
  font-family: 'Marcellus', serif;
  /* text-shadow: 0.2px 0 0 currentColor; */
  color: #b68480;
  margin-bottom: -0.8rem;
  text-align: center;
}

/* Flyer Date */
.flyer-date {
  font-size: 1.1rem;
  color: #627045;
  font-family: 'Georgia', serif;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Flyer Image */
.flyer-image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
}


@media (max-width: 900px) {
  .flyer-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 per row on smaller screens */
  }
}



